body {
    font-family: Arial;
    color: rgb(217, 236, 245);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    padding: 50px 0;
  }
  
  h1 {
    margin: auto;
    text-align: center;
    padding: 15px;
    font-size: 50px;
  }

  .elon-left {
    float: left;
    margin: 1%;
    width: 900px;
    height: 600px;
  }

  .elon-right {
    float: right;
    margin: 1%;
  }

  p {
    text-align: justify;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 25px;
  }
  