/* ------------------------------ css ogolny ------------------------------ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.main-body {
  color: rgb(217, 236, 245);
  background-image: url('../img/home_background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  background-position: center;
  padding: 50px 0;
  min-height: 100vh;
}

.default-body {
  font-family: Arial;
  color: rgb(217, 236, 245);
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  background-position: center;
  padding: 50px 0;
}
   
h1 {
  margin: auto;
  text-align: center;
  padding: 15px;
  font-size: 50px;
}

h2 {
  margin-bottom: 20px;
}

h3 {
  margin-left: 2%;
  text-align: left;
  margin-top: 1%;
  margin-bottom: 1%;
}

p {
  margin-left: 2%;
  margin-right: 2%;
}

table {
  border-collapse: collapse;
  width: auto;
  margin: auto;
}

th {
  border: 0px;
}
    
tr:nth-child(even) {
  background-color: #1b1a1a;
}
    
table a {
  text-decoration: none;
  color: white;
  display: block;
}

.identifier {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.clock {
  margin-top: 300px;
  text-align: center;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* ------------------------------ css - news ------------------------------ */

.news-td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 18px;
}

.news-tr:hover, tr:focus-within {
  background: rgb(33, 33, 34);
  outline: none;
}
  
/* ------------------------------ css - facts ------------------------------ */
  
.numerator {
  width: 20px;
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
  
.facts-td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

/* ------------------------------ css - elon1810 ------------------------------ */

.elon-p {
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 25px;
}

.elon-h2 {
  margin-top: 20px;
  text-align: center;
  font-size: 25px;
}

.elon-h3 {
  margin-top: 20px;
  text-align: center;
  font-size: 60px;
  font-weight: 300;
}

.elon-left {
  float: left;
  margin: 1%;
  width: 600px;
  height: 400px;
  border: 1px solid #dddddd;
}

.elon-right {
  float: right;
  margin: 1%;
  width: 650px;
  height: 430px;
  border: 1px solid #dddddd;
}

.elon-clown {
  align-items: center;
  border: 1px solid #dddddd;
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------ james webb - news ------------------------------ */

.jw-p {
  font-size: 20px;
  text-align: center;
}

.jw-h2 {
  text-align: center;
  margin-top: 3%;
}

/* ------------------------------ css - history ------------------------------ */

.history-h1 {
  text-align: center;
  padding: 15px;
  font-size: 50px;
  margin-bottom: 1%;
}

.history-h2 {
  margin-right: 18%;
  text-align: center;
  padding-top: 15px;
  margin-bottom: 1%;
}

.flight {
  float: right;
  margin: 1%;
  max-width: 20%;
  height: auto;
  border: 1px solid #dddddd;
}

/* ------------------------------ css - movies ------------------------------ */

.movies-h1 {
  text-align: center;
  padding: 15px;
  font-size: 50px;
  margin-bottom: 1%;
}

.movie {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 (divide 9 by 16 = 0.5625) */
  z-index: 0;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 70%;
  height: 70%;
  margin: auto;
}

/* ------------------------------ css - gallery ------------------------------ */

div.gallery {
  border: 1px solid #ccc;
}
    
div.gallery:hover {
  border: 1px solid #777;
}
    
div.gallery img {
  width: 100%;
  height: auto;
}
    
div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

/* ------------------------------ Pasek nawigacyjny ------------------------------ */

header {
  position: relative;
  z-index: 99;
}

.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(19, 18, 18);
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  height: 6vh;
}
 
.topnav .navbar-left {
  float: left;
}
  
.topnav .navbar-right {
  float: right;
}
    
.topnav li a {
  display: block;
  color: white;
  font-size: large;
  text-align: center;
  padding: 17px 20px;
  text-decoration: none;
}

.topnav li button {
  display: block;
  color: white;
  font-size: large;
  text-align: center;
  padding: 17px 20px;
  text-decoration: none;
}
  
.topnav a:hover {
  background-color: rgb(43, 40, 40);
  height: 6vh;
}

/* ------------------------------ menu boczne - strona glowna ------------------------------ */

.side-bar {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  width: 290px;
  height: 94vh;
  position: fixed;
  top: 0;
  left: -100%;
  overflow-y: auto;
  transition: 0.6s ease;
  transition-property: left;
  margin-top: 6vh;
}
  
.side-bar.active {
  left: 0;
}
  
.side-bar .menu {
  width: 100%;
  margin-top: 80px;
}
  
.side-bar .menu .item {
  position: relative;
  cursor: pointer;
}
  
.side-bar .menu .item a {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}
  
.side-bar .menu .item a:hover {
  background: #5543f5;
  transition: 0.3s ease;
}
  
.side-bar .menu .item i {
  margin-right: 15px;
}
  
.side-bar .menu .item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}
  
.side-bar .menu .item .sub-menu {
  background: rgba(255, 255, 255, 0.1);
  display: none;
}
  
.side-bar .menu .item .sub-menu a {
  padding-left: 80px;
}
  
.rotate {
  transform: rotate(90deg);
}
  
.close-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  right: 0;
  margin: 25px;
  cursor: pointer;
}
  
.menu-btn {
  position: absolute;
  color: #fff;
  font-size: 20px;
  margin: 25px;
  cursor: pointer;
}

/* ------------------------------ formularze ------------------------------ */

input[type=text], input[type=password], textarea {
  width: 100%;
  padding: 6px 10px;
  margin: 4px 0;
  display: inline-block;
  border: 2px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
}

.admin-button {
  width: 100%;
  margin: 4px 0;
  background-color: rgb(34, 38, 43);
  border: 2px solid #ccc;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  cursor: pointer;
}

.zaloguj {
    width: 100%;
    padding: 3px 5px;
    margin: 4px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
    background-color: #18a2fd;
    border-color: #0b629c;
    font-weight: 500;
    transition: background-color 0.3s ease;
    font-size: medium;
  }

  .zaloguj:hover {
    background-color: #0e8add;
    border-color: #0b629c;
  }

  .login {
    background-color: #3da1e4;
  }

.cms-table {
  background-color: #5543f5;
  border-collapse: collapse;
  width: 100%;
  margin-top: 3%;
}

.shop-table {
  border-collapse: collapse;
  width: 98%;
  margin-top: 3%;
}
  
.cms-td {
  text-align: center;
  border: 1px solid rgb(217, 236, 245);
}

.shop-td {
  font-size: 30px;
  text-align: center;
  border: 1px solid rgb(217, 236, 245);
}

.shop-list-td {
  font-size: 30px;
  text-align: center;
}

.product-td {
  font-size: 10px;
  text-align: center;
  border: 1px solid rgb(217, 236, 245);
}

.pro-td {
  font-size: 18px;
  text-align: center;
  border: 1px solid rgb(217, 236, 245);
}

.img-product {
  align-items: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: auto;
}

.cms-tr {
  text-align: center;
}

.cms-span {
  font-size: xx-large;
}

.pro-span {
  font-size: large;
}

.cms-editor {
  font-size: 20px;
}

.cms-h2 {
  margin: auto;
  text-align: center;
  padding: 15px;
  font-size: 30px;
}

.cms-button {
  height: 60px;
  width: 200px;
  font-size: 20px;
}

.cms-button-table {
  height: 60px;
  width: 50vw;
  font-size: 20px;
}

.contact-form {
  margin: 0 auto;
  width: 96%;
  background-color: #7465f8;
  padding: 20px;
}

.center-message{
  margin-top: 10%;
  text-align: center;
  font-size: 100px;
  font-weight: 600;
}

/* ------------------------------ animacje rakiety i spadajacych gwiazd w tle ------------------------------ */

.scene {
  width: 100%;
  height: 50vh;
  background: black;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scene i {
  position: absolute;
  margin-top: 16%;
  top: -250px;
  background: rgba(255, 255, 255, 0.2);
  animation: animateStars linear infinite;
}

@keyframes animateStars {
  0%
  {
    transform: translateY(0);
  }
  100%
  {
    transform: translateY(200vh);
  }
}

.scene .rocket {
  position:relative;
  animation: animate 0.3s ease infinite;
}

@keyframes animate {
  0%, 100%
  {
    transform: translateY(-2px);
  }
  50%
  {
    transform: translateY(2px);
  }
}

.scene .rocket::before {
  content: '';
  position: absolute;
  bottom: -145px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 150px;
  background: linear-gradient(#00d0ff, transparent);
}

.scene .rocket::after {
  content: '';
  position: absolute;
  bottom: -200px;
  left: 50%;
  transform: translateX(-50%);
  width: 10px;
  height: 200px;
  background: linear-gradient(#00d0ff, transparent);
  filter: blur(20px);
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}
  
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .topnav .navbar-left, 
  .topnav .navbar-right { float: none; }
}
  
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
