body {
    font-family: Arial;
    color: rgb(217, 236, 245);
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    background-position: center;
    padding: 50px 0;
  }
  
  h1 {
    text-align: center;
    padding: 15px;
    font-size: 50px;
    margin-bottom: 1%;
  }

  .movie {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 (divide 9 by 16 = 0.5625) */
    z-index: 0;
  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 70%;
    height: 70%;
    margin: auto;
  }
  